.things-form {

  &__information {
    background-color: #FAD648;
    padding: 20px;
    @include desktop {
      padding: 50px 141px;
    }

    &__title {
      margin-bottom: 10px;
      color: black;
      font-size: 2rem;
      font-weight: 600;
    }

    &__description {
      color: $main-text-color;
      font-size: 1.3rem;
    }
  }

  &__wraper {
    height: 883px;
    width: 100%;
    padding: 36px 0;
    background-image: url("/../../../assets/Background-Form.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    // universal things for every step

    .form-step {
      font-size: 1.2rem;
      color: $main-text-color;
      font-weight: 200;
      letter-spacing: 0;
      margin-bottom: 71px;
    }

    .form-title {
      margin-bottom: 35px;
      font-size: 2.3rem;
      color: black;
      font-weight: 500;
    }

    .box {

      .selected {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 250px;
        height: 40px;
        border: 1px solid $main-text-color;
        position: relative;

        &::after {
          transition: 0.3s;
          display: inline;
          content: url("/../../../assets/Icon-Arrow-Down.svg");
          position: absolute;
          right: 10px;
        }

        p {
          font-size: 1.2rem;
          color: $main-text-color;
          padding-left: 50px;
          position: relative;

          &::before, &::after {
            display: block;
            position: absolute;
            height: 2px;
            width: 25px;
            background-color: gray;
            content: '';
            top: 50%;
          }

          &::before {
            left: 15px;
          }

          &::after {
            left: 130px;
          }
        }

      }

      .active {
        &::after {
          transition: 0.3s;
          transform: rotateX(180deg);
        }
      }

      @keyframes show {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }

      }


      .select-box {
        margin-left: 150px;
        padding: 5px;
        animation-name: show;
        animation-duration: 0.5s;
        animation-timing-function: linear;
        width: 100px;
        border: 1px solid $main-text-color;
        border-radius: 2px;
        margin-top: 20px;
        font-size: 1.3rem;
        color: $main-text-color;

        .option {
          margin-bottom: 15px;

          label {
            cursor: pointer;
          }

          input {
            appearance: none;
            cursor: pointer;
          }
        }
      }
    }

    // form one
    .form-one {
      padding-left: 20px;
      @include desktop {
        padding-left: 141px;
      }


      &__form {

        &__input {
          margin-right: 30px;
          appearance: none;
          width: 40px;
          height: 40px;
          vertical-align: middle;
          border-radius: 3px;
          border: 1px solid $main-text-color;
          background: transparent;
          outline: none;
          position: relative;
        }

        &__input:checked {
          background-color: #FAD648;
        }

        &__label {
          font-size: 1.3rem;
          font-weight: 200;
          color: black;
          margin-bottom: 42px;
          display: block;
        }

      }
    }

    // form two
    .form-two {
      padding-left: 20px;
      @include desktop {
        padding-left: 141px;
      }

      &__form {
        height: 300px;
        flex-direction: column;
        display: flex;
        @include desktop {
          flex-direction: row;
        }

        &__amount {
          display: flex;
          align-items: center;
          margin-right: 20px;
          height: 40px;
          font-size: 1.2rem;
          font-weight: 300;
          color: $main-text-color;

        }


      }
    }

    // form-three

    .form-three {
      padding-left: 20px;
      @include desktop {
        padding-left: 141px;
      }

      &__form {
        height: 400px;

        .select-box__form-three {
          margin-left: 0;
          width: 250px;
          position: absolute;
          z-index: 2;
          background-color: #EDECEA;
        }

        .group-people {
          margin-top: 40px;

          &__title {
            font-size: 1rem;
            font-weight: 600;
            width: 100%;
          }

          .container {
            margin: 0;
            padding: 0;
            max-width: 300px;
            @include tablet {
              max-width: 700px;
            }

            .row {
              justify-content: space-between;
            }
          }

          &__label {
            margin: 10px 0;
            height: 40px;
            display: block;

            .group-people__input {
              width: 100%;
              font-size: 1.2rem;
              border: 1px solid $main-text-color;
              appearance: none;
              height: 40px;
              display: inline-block;
              vertical-align: middle;
              background: transparent;
              outline: none;
              position: relative;

              &::after {
                font-size: 1rem;
                display: block;
                text-align: center;
                width: 100%;
                background: transparent;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @include desktop {
                  font-size: 1.2rem;
                }
              }
            }

            .children::after {
              content: 'children';
            }

            .single-mothers::after {
              content: 'single mothers';
            }

            .homeless::after {
              content: 'homeless';
            }

            .disabled::after {
              content: 'disabled';
            }

            .elder-people::after {
              content: 'elder people';
            }

            .group-people__input:checked {
              background-color: #FAD648;
            }
          }
        }
      }

      .organization {
        padding-right: 25px;
        margin-top: 20px;
        max-width: 450px;

        &__label {
          font-weight: 600;
          font-size: 1rem;
        }

        &__input {
          width: 100%;
          display: block;
          font-size: 1rem;
          margin-top: 20px;
          padding: 5px;
          background-color: transparent;
          border: 1px solid $main-text-color;
        }
      }

    }

    //form- four

    .form-four {
      padding: 20px;
      @include desktop {
        padding-left: 141px;
      }


      &__form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        @include desktop {
          flex-direction: row;
        }

        .box:nth-of-type(2) {
          margin-top: 30px;

          @include desktop {
            margin-top: 0;
            margin-left: 100px;
          }
        }

        .box {


          .information {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 20px;
          }


          .element-box {
            margin-bottom: 20px;
            width: 400px;
            display: flex;
            flex-direction: column;


            @include desktop {
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
            }

            .form-four__label {
              line-height: 2rem;
              width: 30%;
              font-size: 1.5rem;
              font-weight: 300;
              color: $main-text-color;
            }

            .form-four__input {
              padding-left: 10px;
              font-size: 1.2rem;
              width: 65%;
              height: 40px;
              background: transparent;
              border: 1px solid $second-text-color;
              resize: none;
            }
            .textarea {
              height: 100px;
            }
          }

          .textarea-box {
            align-items: flex-start;
          }
        }
      }
    }

  }
}